.game
{
  text-align: center;
}

.board
{
  display: grid;
  width: fit-content; /*中に入っている要素に合わせて要素自身の幅を決める*/
  margin: 20px auto;
  position: relative;
}

.cell
{
  border: 1px solid #555;
  background-color: #0E0;

  cursor: pointer;  /*指のカーソルに変更*/
}

.selectCell
{
  border: 1px solid #FF0;
  background-color: #AE0;
}

.actionSelectButton
{
  position: absolute;
  display: flex;
  gap:5px;
  opacity: 0.8;
}

.opened
{
  border: 1px solid #555;
  background-color: #FFDEAD;
}

.cell:hover
{
  background-color: #0F0;
}